@charset "utf-8";

/* Reset - 네이버에서 사용하고 있는 reset을 사용하였습니다. */
/* common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,audio,video { margin: 0; padding: 0; }
body,input,textarea,select,table,button,code { font-family: helvetica, AppleSDGothicNeo, sans-serif; font-size: 16px; line-height: 1.25em; }
html { font-size: 10px; line-height: 10px; }
html.font_big { font-size: 12px; }
body { position: relative; background-color: #e9ecef; color: #000; word-wrap: break-word; word-break: break-all; }
html.font_big body { font-size: 19px; }
body.s { -webkit-text-size-adjust: none; }
.it,textarea { border: 1px solid #bcbcbc; }
img,fieldset { border: 0; }
img { vertical-align: middle; }
ul,ol { list-style: none; }
em,address,cite,dfn { font-style: normal; }
a { color: inherit; text-decoration: none; }
table { border-collapse: collapse; }
hr,.display_n { display: none !important; }
mark { color: inherit; font-weight: bold; background: none; }
select::-ms-expand { display: none; }

.hc, .u_hc, .u_skip { visibility: hidden; overflow: hidden; position: absolute !important; left: -999px; width: 0; height: 0; font-size: 0; line-height: 0; }

/* 환율 계산기 */
.exchangerate h1 { position: relative; padding: 14px 5px 4px; font-size: 1.6rem; color: #222; line-height: 1.6rem; }
.exchangerate .cont_area { margin-top: 4px; border: 1px solid #dcdfe2; background-color: #fff; }

/* 환율 금액 입력 영역 */
.excr_cal { margin-bottom: 10px; padding: 10px 10px 5px; }
.excr_cal .unit_eng { display: block; padding-left: 36px; font-size: 15px; color: #656873; line-height: 1.25em; word-wrap: normal; }
.excr_cal .excr_eq span { display: block; width: 13px; height: 11px; margin: 5px auto; background: url(https://ssl.pstatic.net/sstatic/keypage/lifesrch/exchange/im/im_list.png) no-repeat 0 -114px; background-size: 16px 125px; color: transparent; }

.excr_cal .excr_box { overflow: hidden; position: relative; height: 54px; margin: 0; border: 1px solid #b2b7bd; border-color: #b8bec4 #b2b7bd #acb1b7; border-radius: 3px; }
.excr_cal .excr_box .slc_box { position: absolute; top: 0; left: 0; z-index: 2; width: 123px; height: 100%; border-right: 1px solid #ccd0d4; background: url(../images/img_slc_box_back.png) repeat-x bottom left; }
.excr_cal .excr_box .nt_slc { display: block; overflow: hidden; width: 123px; height: 30px; margin: 0; padding: 6px 0 0 36px; border: 0; background: transparent url(https://ssl.pstatic.net/sstatic/keypage/lifesrch/exchange/im/im_list.png) no-repeat 109px -31px; background-size: 16px 125px; font-size: 16px; color: #000; white-space: nowrap; text-overflow: ellipsis; 
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

.excr_cal .num { display: block; position: relative; height: 100%; padding: 0 7px 0 130px; background: #fff; -webkit-box-orient: vertical; }
.excr_cal .num input { display: block; width: 100%; height: 30px; padding-top: 2px; border: 0; font-size: 19px; font-weight: bold; text-align: right; }
.excr_cal .num .recite { overflow: hidden; width: 100%; height: 26px; line-height: 16px; text-align: right; }
.excr_cal .num .recite .nb_txt { display: block; overflow: hidden; width: 100%; height: 20px; font-size: 14px; color: #656873; text-align: right; white-space: nowrap; }

/* 환율 국기표기 */
.excr_cal .flag { display: block; overflow: hidden; position: absolute; top: 10px; left: 7px; width: 25px; height: 17px; background: url(../images/bg_flag.png) no-repeat 0 0; background-size: 145px 337px; line-height: 0; }
.excr_cal .flag.krw { background-position: 0 0; } 
.excr_cal .flag.usd { background-position: 0 -32px; } 
.excr_cal .flag.jpy { background-position: 0 -64px; } 
.excr_cal .flag.eur { background-position: 0 -320px; } 
.excr_cal .flag.cny { background-position: 0 -96px; } 
.excr_cal .flag.aud { background-position: 0 -128px; } 
.excr_cal .flag.cad { background-position: 0 -192px; } 
.excr_cal .flag.nzd { background-position: -120px -256px; } 

/* 주요국가 환율정보 테이블 */
.excr_table { border: 1px solid #e1e4e4; border-width: 1px 0; }
.excr_table table { width: 100%; border: 0; background-color: #fff; }
.excr_table th { font-size: 14px; font-weight: normal; line-height: 31px; color: #7f828f; }
.excr_table th:first-child { border-right: 1px solid #eeefef; }
.excr_table th:after { visibility: hidden; overflow: hidden; position: absolute; left: -9999px; width: 0; height: 0; font-size: 0; line-height: 0; }
.excr_table td { padding: 0 5px 0 4px; border-top: 1px solid #f1f1f1; font-size: 16px; line-height: 30px; color: #333; text-align: center; }

.excr_table tbody th { border: 1px solid #eeefef; border-width: 1px 1px 0 0; font-size: 15px; line-height: 30px; text-align: left; }
.excr_table tbody th a { display: block; padding-left: 10px; color: #1662b7; vertical-align: middle; }
.excr_table tbody th a span { display: inline-block; padding-left: 2px; font-size: 16px; color: #656873; }

.excr_table .up th:after { content: '상승'; }
.excr_table .up td { color: #f43636; }
.excr_table .down th:after { content: '하락'; }
.excr_table .down td { color: #158de1; }
.excr_table .ico { display: inline-block; overflow: hidden; width: 10px; height: 8px; margin-right: 3px; background: url(https://ssl.pstatic.net/sstatic/keypage/lifesrch/exchange/im/im_list.png) no-repeat 0 -95px; background-size: 16px 125px; line-height: 100em; text-indent: -10000px; vertical-align: 1px; }
.excr_table .up .ico { background-position: 0 0; }
.excr_table .down .ico { background-position: 0 -23px; }

/* ie8 스타일 */
.ie8 .exchangerate h1 { font-size: 1em; }
.ie8 .excr_cal .flag { background: none; }